.gameInfoAndButtonsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.gameInfoAndButtonsContainerFixed {
  display: inline-flex;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.gameInfoAndButtonsContainerFixed > .pill {
  display: inline-flex;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.gameInfoAndButtonsContainerFixed > *:nth-child(2) {
  flex-grow: 1;
}
