.gameInfoAndButtonsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.gameInfoAndButtonsContainerFixed {
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameInfoAndButtonsContainerFixed > .pill {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  flex: 1;
}

.rulesButton {
  display: flex;
  justify-content: center;
  align-items: center;
}
