.container {
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  margin-top: 20px;
}

.title {
  color: #ff6011;
  font-size: 36px;
  font-weight: 800;
  text-shadow: 0px 2px 4px #a7a19f;
}

.homeButton {
  padding: 0 20px;
}

.homeButton,
.gameCodeForm {
  color: black;
  margin: 25px 0;
  cursor: pointer;
}

.joinGameError,
.joinGameLoading {
  color: rgb(63, 62, 62);
  margin: 25px 0;
  line-height: 50px;
}

.gameCodeInput {
  padding: 0 20px;
  height: 100%;
}

.joinGameError,
.joinGameLoading,
.gameCodeInput,
.homeButton,
.gameCodeForm {
  min-width: 200px;
}
